name: Deploy to GCP Cloud Storage

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Authenticate with GCP
        run: |
          echo "${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}" | base64 -d > key.json
          gcloud auth activate-service-account --key-file=key.json
          gcloud config set project ${{ secrets.GCP_PROJECT_ID }}

      - name: Deploy to Cloud Storage
        run: |
          gsutil -m rsync -r -d ./ gs://it718-lab5-jt

      - name: Set no-cache headers
        run: |
          gsutil setmeta -h "Cache-Control:no-store, max-age=0, must-revalidate" gs://it718-lab5-jt/index.html
